.container {
  padding-left: 33px;
  padding-right: 33px;
}

.logo {
  width: 66px;
  height: 66px;
}

.hide-small {
  display: none;
}

.about-header {
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.about-info {
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.about-info2 {
color: black;
font-size: 13px;
font-weight: bold;
font-style: italic;
}

.email {
  font-size: 45px;
  vertical-align: middle;
  line-height: 1;
}

.header {
  font-size: 33px;
  font-weight: bold;
}

.contact-link {
  color: var(--ion-color-tertiary-tint);
  font-size: 23px;
  font-weight: bold;
}

.contact-header {
  color: black;
  font-size: 20px;
  font-weight: bold;    
}

.contact-card {
  background-color: var(--ion-color-tertiary-tint);
}

.social {
  width: 45px;
  height: 45px;
  padding-right: 10px;
}

h2 {
    text-decoration: underline;
}

@media (min-width: 600px) {
  .hide-small { display: block; }
}