<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-text-center">
      <ion-col>
        <span>$Bitcoin: ${{cryptoPrices?.btc}}</span>
      </ion-col>
      <ion-col>
        <span>$Ethereum: ${{cryptoPrices?.eth}}</span>
      </ion-col>
      <!-- <ion-col>
        <span>$Atom: ${{cryptoPrices?.atom}}</span>
      </ion-col> -->
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <br>
        <div class="container">
          <br>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-avatar>
              <ion-img src="assets/Cypherpunk_zero_3960.png"></ion-img>
            </ion-avatar>
          </ion-row>
          <ion-row class="ion-justify-content-center noPadBottom">
            <h1 class="noPadBottom name">Eric Preston</h1>
          </ion-row>
          <ion-row class="ion-justify-content-center noPadBottom">
            <h5 class="noPadBottom">(ericpreston.eth)</h5>
          </ion-row>
          <ion-row>
            <ion-col size="10" offset="1" size-lg="6" offset-lg="3" class="ion-text-center">
              <!-- <span>🌞⛵️🏖🏔🚴🏻‍♂️⛳️🏒🏎👟📚🧘🏼‍♂️📈🍦🫖💎</span> -->
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <a href="https://twitter.com/ericprestonETH" (click)="analyticsSocial('twitter')">
              <ion-img class="social padRight" src="assets/X.png"></ion-img>
            </a>
            <a href="https://www.linkedin.com/in/ericpreston37/" (click)="analyticsSocial('linkedin')">
              <ion-img class="social padRight" src="assets/linkedin.png"></ion-img>
            </a>
            <a href="https://github.com/3preston" (click)="analyticsSocial('github')">
              <ion-img class="social padRight" src="assets/github.png"></ion-img>
            </a>
            <a href="https://substack.com/@ericpreston" (click)="analyticsSocial('substack')">
              <ion-img class="social padRight" src="assets/substack.png"></ion-img>
            </a>
            <a (click)="analyticsSocial('email')">
              <span (click)="email()" class="email">📧</span>
            </a>
          </ion-row>
          <br>
        </div>
        <ion-row class="ion-justify-content-center ion-text-center ion-align-items-center">
          <ion-col size="12">
            <ion-card style="background-color: var(--ion-color-tertiary)">
              <ion-card-header style="text-decoration: underline; text-decoration-thickness: 3px; font-size: 25px; color: var(--ion-color-primary-contrast); font-weight: bolder;">About Me</ion-card-header>
              <ion-card-content style="color: var(--ion-color-primary-contrast); font-size: 18px;">Hello, I am a U.S. based attorney specializing in business law, finance, tech and crypto. I am also an MBA and certified information privacy professional (CIPP/US).
                I enjoy software, AI, and product development, and have a passion for startups, founders and innovation.
              </ion-card-content>
              <ion-card-content style="color: var(--ion-color-primary-contrast); font-size: 18px;">My experience includes leading domestic and international transactions, financing agreements, regulatory compliance,
                product development, intellectual property, M&A, licensing and more.
              </ion-card-content>
              <ion-card-content style="color: var(--ion-color-primary-contrast); font-size: 18px;">I am currently a Senior Associate Attorney at Montague Law, PLLC, a boutique law firm 
                specializing in business law, finance, tech and crypto. You can learn more about my practice by clicking: <a href="https://montague.law" style="color: var(--ion-color-primary-contrast)">here</a>.
              </ion-card-content>
              <br>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-text-center ion-align-items-center">
          <ion-col size="12">
            <ion-card style="background-color: var(--ion-color-primary-contrast)">
              <ion-card-header style="text-decoration: underline; text-decoration-thickness: 3px; font-size: 25px; color: var(--ion-color-light); font-weight: bolder;">Selected Projects</ion-card-header>
              <ion-col class="ion-text-center" size-xs="12" size-sm="6">
                <a href="https://ericpreston.substack.com/p/verifying-accredited-investor-status" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                  <ion-card button>
                    <ion-card-header>
                      <ion-card-title> 
                        <span class="blog-title">Article:</span> Verifying Accredited Investor Status Just Got Easier</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      New SEC no-action letter for verifying accredited investors under Rule 506(c)
                    </ion-card-content>
                    <ion-row class="ion-justify-content-center">
                      <span class="blog-link">(Click to read)</span>
                    </ion-row>
                    <br>
                  </ion-card>
                </a>
              </ion-col>
              <ion-col class="ion-text-center" size-xs="12" size-sm="6">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>SAFE Conversion Calculator</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <a href="https://www.safeconversioncalculator.com" target="_blank">**Coming Soon**</a>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <br>
            </ion-card>
            <ion-row class="ion-justify-content-center ion-text-center ion-align-items-center">
              <span>Find more online at: </span>
              <a href="https://twitter.com/ericprestonETH" (click)="analyticsSocial('twitter')">
                <ion-img class="social padRight" src="assets/X.png"></ion-img>
              </a>
              <a href="https://www.linkedin.com/in/ericpreston37/" (click)="analyticsSocial('linkedin')">
                <ion-img class="social padRight" src="assets/linkedin.png"></ion-img>
              </a>
              <a href="https://github.com/3preston" (click)="analyticsSocial('github')">
                <ion-img class="social padRight" src="assets/github.png"></ion-img>
              </a>
              <a href="https://substack.com/@ericpreston" (click)="analyticsSocial('substack')">
                <ion-img class="social padRight" src="assets/substack.png"></ion-img>
              </a>
            </ion-row>
          </ion-col>
        </ion-row>
        <br>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="12" class="ion-text-center">
              <ion-card class="contact-card" id="contact-section">
                <ion-card-header>
                  <ion-card-title class="about-header">Contact Me</ion-card-title>
                </ion-card-header>
                <ion-row class="ion-justify-content-center">
                </ion-row>
                <br>
                <ion-row (click)="email()" class="ion-justify-content-center ion-text-center ion-align-items-center" style="cursor: pointer;">
                  <span class="contact-header" style="padding-right: 5px;">Click to Email</span>
                  <span class="email2">📧</span>
                </ion-row>
                <br>
                  <form #f="ngForm" (ngSubmit)="contactSubmit(f)">
                    <ion-grid>
                      <ion-row class="ion-justify-content-center">
                        <ion-col class="ion-text-center" size-xs="12" size-sm="8">
                          <span class="contact-header">Send a Message:</span>
                          <br>
                          <br>
                          <ion-item>
                            <ion-label position="inline" style="padding-right: 10px;">Email:</ion-label>
                            <ion-input inputmode="email" type="email" name="email" required ngModel #emailCtrl="ngModel">
                            </ion-input>
                          </ion-item>
                          <ion-item>
                            <ion-label position="inline" style="padding-right: 10px;">Subject:</ion-label>
                            <ion-input inputmode="text" type="text" name="subject" required ngModel #subjectCtrl="ngModel"></ion-input>
                          </ion-item>
                          <ion-item>
                            <ion-label position="inline" style="padding-right: 10px;">Message:</ion-label>
                            <ion-input inputmode="text" type="text" name="message" required ngModel #messageCtrl="ngModel"></ion-input>
                          </ion-item>
                          <br>
                          <ion-button type="submit" color="success">Submit</ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </form>
                <br>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-start" size-xs="4">
        <span style="font-style: italic;">© Eric Preston. All rights reserved.</span>
      </ion-col>
      <ion-col class="ion-align-items-center" size-xs="4">
        <ion-row class="ion-justify-content-center">
          <a href="https://twitter.com/ericprestonETH" (click)="analyticsSocial('twitter')">
            <ion-img class="social padRight" src="assets/X.png"></ion-img>
          </a>
          <a href="https://www.linkedin.com/in/ericpreston37/" (click)="analyticsSocial('linkedin')">
            <ion-img class="social padRight" src="assets/linkedin.png"></ion-img>
          </a>
          <a href="https://github.com/3preston" (click)="analyticsSocial('github')">
            <ion-img class="social padRight" src="assets/github.png"></ion-img>
          </a>
          <a href="https://substack.com/@ericpreston" (click)="analyticsSocial('substack')">
            <ion-img class="social padRight" src="assets/substack.png"></ion-img>
          </a>
          <a (click)="analyticsSocial('email')">
            <span (click)="email()" class="email">📧</span>
          </a>
        </ion-row>
      </ion-col>
      <ion-col size-xs="4">
        <ion-row class="ion-justify-content-end ion-text-center">
          <span (click)="privacy()" style="cursor: pointer; text-decoration: underline;">Privacy Policy</span>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<br>