@media (min-width: 693px) {
  ion-label {
    font-size: 222%;
  }
}

ion-card {
  border-radius: 33px 33px 33px 33px;
  margin-bottom: 22px;
  padding-bottom: 7px;
}

ion-toggle {
  --background: #737373;
  --background-checked: #737373;
  --handle-background: var(--ion-color-dark);
  --handle-background-checked: var(--ion-color-light);
}

ion-segment {
  --background: var(--ion-color-light);
}

ion-segment-button {
  --color: var(--ion-color-dark);
  --color-checked: var(--ion-color-success);
}

ion-avatar {
  width: calc(10% + 55px);
  height: calc(10% + 55px);
}

h1 {
  font-size: calc(333% - 10px);
}

h3 {
  display: inline;
  font-size: calc(333% - 10px);
}

h4 {
  font-size: calc(222% - 10px);
}

h5 {
  display: inline;
  font-weight: bold;
  font-size: 111%;
}

.padRight {
  padding-right: 5px;
}

.padLeft {
  padding-left: 5px;
}

.social {
  width: 45px;
  height: 45px;
}

.email {
  font-size: 53px;
  vertical-align: middle;
  line-height: 1;
}

.email {
  width: 400px;
}

.socialSmall {
  width: 30px;
  height: 30px;
}

.fairmint {
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--ion-color-success);
}

.italics {
  font-style: italic;
}

.ktchn {
  height: 60%;
  width: 60%;
}

.substack {
  height: 123px;
  width: 123px;
}

.noPadBottom {
  // margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.apps {
  width: 300px;
  height: 100px;
}