<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <h1>{{crypto}}</h1>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <br>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-avatar>
          <ion-img src="assets/eric.jpeg"></ion-img>
        </ion-avatar>
        <h1 class="ion-padding-start ion-padding-end">+</h1>
        <ion-avatar>
          <ion-img src="assets/nft.jpg"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="ion-justify-content-center noPadBottom">
          <h1 class="noPadBottom">Eric Preston</h1>
      </ion-row>
      <ion-row class="ion-justify-content-center noPadBottom">
        <h5 class="noPadBottom">(ericpreston.eth)</h5>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
        <h4 class="padRight">Head of Compliance</h4>
        <a href="https://www.fairmint.com">
          <h4 class="padRight">@Fairmint</h4>
        </a>
        <!-- <a href="https://www.fairmint.com">
          <ion-img class="socialSmall" src="assets/fairmint.png"></ion-img>
        </a> -->
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <a href="https://twitter.com/ericprestonETH" class="padRight">
          <ion-img class="social padRight" src="assets/twitter.png"></ion-img>
        </a>
        <a href="https://www.linkedin.com/in/ericpreston37/" class="padRight">
          <ion-img class="social" src="assets/linkedin.png"></ion-img>
        </a>
        <a href="https://github.com/3preston" class="padRight">
          <ion-img class="social padRight" src="assets/github.png"></ion-img>
        </a>
        <a>
          <span (click)="email()" class="email">📧</span>
        </a>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1" size-lg="6" offset-lg="3" class="ion-text-center">
          <h2>
            Hello, my name is Eric Preston.
            I hold 3 degrees including Juris Doctor and Master of Business Administration. 
            I am also a finance nerd and self-taught software engineer.
            I live in Michigan, and am obssessed with emojis 👟 🖼 🏈 🏒 ⛳️ 🧘🏼‍♂️ 🚴🏻‍♂️ 🏎 ⛵️ 📈 🪙 👨🏼‍💻 🚀 
          </h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-xl="8" offset-xl="2">
          <ion-segment mode="ios" value="web3" (ionChange)="segmentChange($event)">
            <ion-segment-button value="web3">
              <ion-label>🚀 web3</ion-label>
            </ion-segment-button>
            <ion-segment-button value="tech" (click)="test()">
              <ion-label>👨🏼‍💻 tech</ion-label>
            </ion-segment-button>
            <ion-segment-button value="twitter">
              <ion-row class="ion-align-items-center">
                <ion-img class="socialSmall padRight" (click)="follow()" src="assets/twitter.png"></ion-img>
                <ion-label>twitter</ion-label>
              </ion-row>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <br>
      <ion-row *ngIf="chosenSegment === 'web3'">
        <ion-col size="12" size-xl="8" offset-xl="2" class="ion-text-center">
          <a href="https://www.fairmint.com">
            <ion-img class="fairmint2" src="assets/fairmint.jpg"></ion-img>
          </a>
          <h4 class="bold noPadBottom">
            <a href="https://www.fairmint.com">
              www.fairmint.com
            </a>
          </h4>
          <br>
          <h4 class="underline bold">Web3 Fundraising & Community Equity:</h4>
          <br>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="https://www.fairmint.com/legal">
                <h3>Community Shares</h3>
              </a>
              <h3>
                - tokenized equity securities
              </h3>
              <h3 class="italics"> (liquidity pool) </h3>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="https://www.fairmint.com/legal">
                <h3>Community Safe</h3>
              </a>
              <h3>
                - tokenized safe post w/ cap
              </h3>
              <h3 class="italics"> (liquidity pool) </h3>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="https://www.fairmint.com/legal">
                <h3>Community RSU</h3>
              </a>
              <h3>
                - equity securities for your community
              </h3>
              <h3 class="italics"> (liquidity pool) </h3>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="https://www.fairmint.com/legal">
                <h3>Community Options</h3>
              </a>
              <h3>
                - tokenized esop
              </h3>
              <h3 class="italics"> (liquidity pool) </h3>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="https://www.fairmint.com/legal">
                <h3>Rolling Safe</h3>
              </a>
              <h3>
                - futuristic infinite equity financing
              </h3>
              <h3 class="italics"> (liquidity pool) </h3>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="chosenSegment === 'tech'">
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <a href="https://www.github.com/3preston">
              <ion-img src="assets/github.png"></ion-img>
            </a>
            <a href="https://www.github.com/3preston">
              <h1 class="padLeft">Eric's Github</h1>
            </a>
          </ion-row>
          <br>
          <br>
          <br>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-img class="ktchn" src="assets/ktchn.png"></ion-img>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <a href="https://www.ktchnonline.com">
              <h4>www.ktchnonline.com</h4>
            </a>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <a href="https://apps.apple.com/us/app/ktchn/id1596150696">
              <ion-img class="apps" src="assets/apple.png"></ion-img>
            </a>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <a href="https://play.google.com/store/apps/details?id=com.ktchnonline">
              <ion-img class="apps" src="assets/android.png"></ion-img>
            </a>
          </ion-row>
          <br>
          <br>
          <br>
          <ion-row class="ion-text-center">
            <h3>Favorite Technologies = Typescript & Javascript, Python, Solidity, Angular, Ionic, Capacitor, Firebase, Algolia, HTML, SCSS, Wix</h3>
          </ion-row>
          <br>
          <br>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="chosenSegment === 'twitter'">
        <ion-col size="12" size-xl="4" offset-xl="4">
          <ion-row class="ion-justify-content-center ion-align-items-center padRight">
            <ion-img class="social" (click)="follow()" src="assets/twitter.png"></ion-img>
            <ion-button size="large" mode="ios" (click)="follow()">Follow @ericprestonETH</ion-button>
          </ion-row>
          <br>
          <ngx-twitter-timeline
            style="width: 250px;"
            [source]="{sourceType: 'profile', screenName: 'ericprestonETH'}"
            [options]="{height: '4500'}" (onLoad)="onLoad($event)">
          </ngx-twitter-timeline>
          <br>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<br>
<form #f="ngForm" (ngSubmit)="contactSubmit(f)">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-sm="5">
        <h3 class="underline">Contact Me:</h3>
        <br>
        <br>
        <ion-item>
          <ion-label position="floating">Email:</ion-label>
          <ion-input inputmode="email" type="email" name="email" ngModel email required #emailCtrl="ngModel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Subject:</ion-label>
          <ion-input inputmode="text" type="text" name="subject" required ngModel #subjectCtrl="ngModel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Message:</ion-label>
          <ion-textarea inputmode="text" type="text" name="message" required ngModel #messageCtrl="ngModel"></ion-textarea>
        </ion-item>
        <br>
        <ion-button type="submit" color="danger">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
<br>
<br>
<br>