ion-card {
  border-radius: 33px 33px 33px 33px;
  margin-bottom: 22px;
  padding-bottom: 7px;
}

ion-toggle {
  --background: #737373;
  --background-checked: #737373;
  --handle-background: var(--ion-color-dark);
  --handle-background-checked: var(--ion-color-light);
}

ion-segment {
  --background: var(--ion-color-light);
}

ion-segment-button {
  --color: var(--ion-color-dark);
  --color-checked: var(--ion-color-success);
}

ion-avatar {
  width: calc(10% + 55px);
  height: calc(10% + 55px);
}

ion-label {
  font-size: 222%;
}

h1 {
  font-size: 333%;
}

h3 {
  display: inline;
  font-size: 333%;
}

h4 {
  font-size: 200%;
}

h5 {
  display: inline;
  font-weight: bold;
  font-size: 111%;
}

.padRight {
  padding-right: 5px;
}
.padLeft {
  padding-left: 5px;
}

.social {
  width: 55px;
  height: 55px;
}

.fairmint {
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--ion-color-success);
}

.italics {
  font-style: italic;
}

.ktchn {
  height: 75px;
}

.noPadBottom {
  margin-top: 0px;
  margin-bottom: 0px;
}
