<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <!-- <ion-col> -->
      <!-- </ion-col> -->
      <!-- <ion-col>
        <ion-row class="ion-justify-content-end ion-align-items-center">
          <h5 class="padRight">Dark</h5>
          <ion-toggle [(ngModel)]="lightMode"></ion-toggle>
          <h5 class="padLeft padRight">Light</h5>
        </ion-row>
      </ion-col> -->
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col>
      <br>
      <ion-row class="ion-justify-content-center">
        <ion-avatar>
          <ion-img src="assets/eric.jpeg"></ion-img>
        </ion-avatar>
        <h1 class="ion-padding-start ion-padding-end">+</h1>
        <ion-avatar>
          <ion-img src="assets/nft.jpg"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <h1>Eric Preston</h1>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <h5 class="padRight">Head of Compliance</h5>
        <a href="https://www.fairmint.com">
          <h5 class="padRight">@Fairmint</h5>
        </a>
        <a href="https://www.fairmint.com">
          <ion-img class="social" src="assets/fairmint.png"></ion-img>
        </a>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <a href="https://twitter.com/ericprestonETH" class="padRight">
          <ion-img class="social" src="assets/twitter.png"></ion-img>
        </a>
        <a href="https://www.linkedin.com/in/ericpreston37/">
          <ion-img class="social" src="assets/linkedin.png"></ion-img>
        </a>
        <a href="https://github.com/3preston">
          <ion-img class="social" src="assets/github.png"></ion-img>
        </a>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <h6>Hello, my name is Eric Preston. I am a Juris Doctor, Master of Business Administration, finance nerd, and self-taught shadowy super coder. I live in Michigan, and am obssessed with emojis 👟🖼🏈🏒⛳️🧘🏼‍♂️🚴🏻‍♂️🏎⛵️📈🪙👨🏼‍💻🚀</h6>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-segment mode="md" value="web3" (ionChange)="segmentChange($event)">
            <ion-segment-button value="web3">
              <ion-label>web3</ion-label>
            </ion-segment-button>
            <ion-segment-button value="tech">
              <ion-label>tech</ion-label>
            </ion-segment-button>
            <ion-segment-button value="twitter">
              <ion-label>twitter</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <br>
      <ion-row *ngIf="chosenSegment === 'web3'">
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <a href="https://www.fairmint.com">
            <ion-img class="fairmint2" src="assets/fairmint.jpg"></ion-img>
          </a>
          <h1 class="bold">
            Fairmint, Inc - 
            <a href="https://www.fairmint.com">
              fairmint.com
            </a>
          </h1>
          <h4 class="bold">
            Invest at - 
            <a href="https://www.invest.fairmint.com">
              invest.fairmint.com
            </a>
          </h4>
          <h4 class="underline">Web3 Fundraising & Community Capital Powered By:</h4>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="www.fairmint.com">
                <h3>Web3 Shares</h3>
              </a>
              <h3>
                - ERC-20 tokenized equity
              </h3>
              <h3 class="italics"> (liquidity pool option) </h3>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="www.fairmint.com">
                <h3>Web3 Safe</h3>
              </a>
              <h3>
                - tokenized safe post w/ cap
              </h3>
              <h3 class="italics"> (liquidity pool option) </h3>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="www.fairmint.com">
                <h3>Rolling Safe</h3>
              </a>
              <h3>
                - futuristic infinite equity financing
              </h3>
              <h3 class="italics"> (liquidity pool option) </h3>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="www.fairmint.com">
                <h3>DAO Safe</h3>
              </a>
              <h3>
                - equity safe w/ warrants for future tokens
              </h3>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="www.fairmint.com">
                <h3>Web3 RSU</h3>
              </a>
              <h3>
                - equity for community service providers
              </h3>
              <h3 class="italics"> (liquidity pool option) </h3>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-header class="ion-text-start">
              <a href="www.fairmint.com">
                <h3>Web3 Options</h3>
              </a>
              <h3>
                - tokenized esop
              </h3>
              <h3 class="italics"> (liquidity pool option) </h3>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="chosenSegment === 'tech'">
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-row class="ion-justify-content-center">
            <a href="https://www.github.com/3preston">
              <ion-avatar>
                <ion-img src="assets/github.png"></ion-img>
              </ion-avatar>
            </a>
            <h1 class="padLeft"> - </h1>
            <a href="https://www.github.com/3preston">
              <h1 class="padLeft">Eric's Github</h1>
            </a>
          </ion-row>
          <br>
          <br>
          <br>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-img class="ktchn" src="assets/ktchn.png"></ion-img>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <a href="https://www.ktchnonline.com">
              <h1>www.ktchnonline.com</h1>
            </a>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <a href="www.google.com">
              <ion-img class="ktchn" src="assets/apple.png"></ion-img>
            </a>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <a href="www.google.com">
              <ion-img class="ktchn" src="assets/android.png"></ion-img>
            </a>
          </ion-row>
          <br>
          <br>
          <br>
          <ion-row class="ion-text-center">
            <h1>Favorite technologies = Typescript & Javascript, Python, Solidity, Angular, Ionic, Firebase, Algolia, HTML, SCSS</h1>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="chosenSegment === 'twitter'">
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
          <a class="twitter-timeline" href="https://twitter.com/ericprestonETH?ref_src=twsrc%5Etfw">Tweets by ericprestonETH</a>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
